* {
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

.use-keyboard-input {
  display: block;
  width: 90%;
  margin: 30px auto;
  padding: 10px;
  font-size: 20px;
  height: calc(100vh - 380px);
  min-height: 300px;
}

.keyboard {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  background-color: #212F3C;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  user-select: none;
  transition: bottom 0.4s;
}

.keyboard--hidden {
  bottom: -100%;
}

.keyboard__keys {
  text-align: center;
}

.keyboard__key {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  height: 45px;
  width: 5%;
  max-width: 90px;
  margin: 3px;
  border-radius: 4px;
  border: none;
  background-color: #1B2631;
  color: white;
  border: solid 2px #EC407A;
  font-size: 1.4rem;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.keyboard__key:active {
  background-color: #C2185B;
}

.keyboard__key--pressed {
  background-color: #C2185B;
}

.keyboard__key--wide {
  width: 12%;
}

.keyboard__key--extra-wide {
  width: 36%;
  max-width: 500px;
}

.keyboard__key--activatable::after {
  background-color: black;
}

.keyboard__key--active {
  background: #EC407A;
}

.keyboard__key--dark {
  background-color: black;
}

.language-icon {
  width: 32px;
}

@media (max-width: 768px) {
  .keyboard__key {
    margin: 1px;
    width: 6.2%;
  }

  .keyboard__key--wide {
    width: 12%;
  }

  .keyboard__key--extra-wide {
    width: 30%;
    max-width: 500px;
  }
}